
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
  color: #728088 !important;
  background-color: #e6edf2 !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
.css-us0ay6 {
  background: #ef8374 !important;
}

.css-yy5vui {
  outline: 2px solid #ef8374 !important;
  outline-offset: 0 !important;
}

.footerItems a{
  font-weight: 500;
}

.Footer-links-wrapper a{
  margin-bottom: 5px;
  font-weight: 550;
}

.MyCustomSearchBox {
  display: flex;
  white-space: nowrap;
}

.ais-SearchBox-submitIcon,
.ais-SearchBox-loadingIcon,
.ais-SearchBox-reset {
  display: none !important;
}

.ais-SearchBox-input {
  height: 40px;
  padding-left: 15px;
}

.ais-SearchBox-input:focus {
  outline: none;
}

.card-head {
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-template-rows: fit-content(100px) fit-content(35px);
  grid-column-gap: 16px;
}

.stacks-section {
  grid-row: 2;
  grid-column: 1/4;
  max-height: 66px;
  margin-bottom: 16px;
  margin-top: 6px;
}

 .ais-Pagination-list {margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 30px;
 }


 .ais-Pagination-item{margin: 0;
  margin: 0 5px;
  background-color: white;
  padding: 5px 10px 5px 10px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 8%);
  color: #454E54;
 
}

.ais-Pagination-item--selected{
  background-color: #454E54;
  color: white;
}



